#list-panel {
  min-height: 74vh;
  margin: 0px 0px 0px 30px;
  border: 11px solid #f3f3f3;
}
.page-list-container {
  display: none;
}
.page-map-container {
  display: none;
}
#event-item {
  padding-left: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}
#event-item:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
#saved-items:hover {
  background-color: white;
  cursor: pointer;
}
#event-container {
  width: 100%;
  margin-top: 300px;
}
.events-found-counter {
  font: 103px helvetica;
  font-weight: 600;
  color: #121212;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-left: 29px;
}
.events-found {
  font: 14px helvetica;
  font-weight: 600;
  color: #121212;
  margin-left: 30px;
  margin-top: -13px;
  margin-bottom: 19px;
}
.list-date {
  font: 11px helvetica;
  font-weight: 200;
  margin-bottom: -10px;
}
.list-event-name {
  color: #121212;
  text-transform: uppercase;
  font: 18px helvetica;
  font-weight: 600;
  width: 90%;
}
.list-venue {
  font: 13px helvetica;
  font-weight: 200;
  margin-top: -9px;
  margin-bottom: 7px;
}
.tablinks {
  outline: none;
  padding: 10px;
  border: 1px solid #121212;
  font-size: 12px;
  cursor: pointer;
  width: 112px;
}
.tablinks:hover {
  color: white;
  cursor: pointer;
}
.tabcontent {
  display: none;
  overflow: scroll;
  height: 400px;
}
.tablinks.active {
  background-color: #008CBA;
  color: white;
}
#defaultOpen {
  margin-left: 30px;
}
.save-icon {
  margin: 0;
}
