/* #list-panel {
  border: 1px solid white;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 30%;
  overflow: scroll;
  height: 500px;
  float: left;
}

#event-item {
  padding: 5px 0px;
}

#event-item:hover {
  background-color: #f5f5f5;
}

#event-container {
  width: 100%;
}

button {
  width: 50%;
  outline: none;
  padding: 10px;
  border: 1px solid black;
  font-size: 120%;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #008CBA;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

button.active {
    background-color: #008CBA;
    color: white;
} */
