#list-panel {
  max-height: 500px;
}
#event-item {
  padding-left: 30px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;
}
#event-item:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}
#saved-items:hover {
  background-color: white;
  cursor: pointer;
}
#event-container {
  width: 100%;
  margin-top: 300px;
}
.events-found-counter {
  font: 96px helvetica;
  font-weight: 600;
  color: black;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-left: 30px;
}
.events-found {
  border: 1px solid red;
}
.list-date {
  font: 11px helvetica;
  font-weight: 200;
  margin-bottom: -10px;
}
.list-event-name {
  color: black;
  text-transform: uppercase;
  font: 16px helvetica;
  font-weight: 600;
  width: 90%;
}
.list-venue {
  font: 13px helvetica;
  font-weight: 200;
  margin-top: -9px;
  margin-bottom: 7px;
}
.tablinks {
  outline: none;
  padding: 10px;
  border: 1px solid black;
  font-size: 120%;
  cursor: pointer;
  width: 50%;
  margin-top: 20px;
}
.tablinks:hover {
  color: white;
  cursor: pointer;
}
.tabcontent {
  display: none;
  overflow: scroll;
  height: 400px;
}
.tablinks.active {
  background-color: #008CBA;
  color: white;
}
.material-icons:hover {
  text-decoration: none;
  position: relative;
  top: 4px;
}
