#mapid {
  height: 500px;
  width:70%;
}

body {
  height: auto;
  width: auto;

}
#event-form {
  position: relative;
 display: inline-block;
}
 .eventDetails {
   height: 250px;
   width: 250px;
   float: left;
   justify-content: center;
 }
