#mapid {
  height: 500px;
  width:65%;
  float: right;
  overflow: hidden;
  margin-top:20px;
}

body {
  height: auto;
  width: auto;
  font-family: arial;
  margin-left: 20px;

}
#event-form {
  position: relative;
 display: inline-block;
}
